* {
  font-family: 'vt', sans-serif;
  font-size: 1.05rem;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  border-radius: 50%;
  cursor: pointer;
  height: 12em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-photo-album img {
  /*aspect-ratio: auto !important;*/
  border-radius: 0.35rem !important;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

#monitor-group {
  padding: 2rem 1rem;
}

#monitor-group button {
  margin: 1rem;
}

#monitor-code {
  padding: 1rem;
}

#monitor-code button {
  border-radius: 0;
  border: 1px solid #61dafb;
}

.auth-check {
  cursor: pointer;
  user-select: none;
  background-color: #7972d9;
  width: 6rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.auth-check:hover {
  background-color: #b96a9c;
  transition: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.message-box {
  position: fixed;
  z-index: 10000;
  margin: 0 auto;
  width: 20rem;
  height: auto;
  top: 40%;
  left: calc(50% - 10rem);
  background-color: #1a1a1a;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.back-logo {
  width: 3.5rem;
  height: auto;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

.about {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 2rem;
  display: block;
  cursor: pointer;
  width: 3rem;
  height: auto;
  border-radius: 0.25rem;
  background-color: #2F2F2F;
  text-align: center;
  vertical-align: center;
}

.about-content {
  font-family: sans-serif !important;
  position: fixed;
  bottom: 1rem;
  right: 6rem;
  border-radius: 0.25rem;
  background-color: #2F2F2F;
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
  max-width: 400px;
  word-break: break-all;
}

.about-content a {
  font-size: 0.9rem;
}